    <div nz-row>
        <nz-table class="table-box" #nzTable [nzData]="currentLeafShape" [nzFrontPagination]=false
        [nzShowPagination]=false [nzScroll]="{y:'300px',x:'200px'}">
        <thead>
                <tr>
                        <th nzWidth="100px">Leaf Pair</th>
                        <th nzWidth="200px">X1(cm)</th>
                        <th nzWidth="200px">X2(cm)</th>
                </tr>
        </thead>
        <tbody>
                <tr *ngFor="let item of nzTable.data">
                        <td>{{item.index}}</td>
                        <td>{{item.value1}}</td>
                        <td>{{item.value2}}</td>
                </tr>
        </tbody>
        </nz-table>
        <div style="margin: 20px;"></div>
    </div>