<div (nzOnCancel)="close()">
    <form nz-form [formGroup]="validateForm">
      <div class="common-form-box FlexRow">
        <div class="table-info-div FlexCol">
          <p class="text">{{warning}}</p>
        </div>
        <div class="table-info-div FlexCol">
            <p class="text">{{statusWarining}}</p>
        </div>
        <div class="table-info-div FlexCol">
            <p class="text">{{completedstatusWarining}}</p>
        </div>
        <div class="common-form-row">
          <nz-form-item>
            <nz-form-label nzRequired>{{l('User Name')}}</nz-form-label>
            <nz-form-control>
              <input nz-input formControlName="userName" [(ngModel)]="userName">
              <nz-form-explain
                *ngIf="validateForm.get('userName').dirty && validateForm.get('userName').errors || validateForm.get('userName').pending ">
                <ng-container *ngIf="validateForm.get('userName').hasError('required')">
                  {{l('Please input your username!')}}
                </ng-container>
                <ng-container *ngIf="validateForm.get('userName').hasError('duplicated')">
                  {{l('The username is redundant!')}}
                </ng-container>
                <ng-container *ngIf="validateForm.get('userName').pending">
                 {{ l('Validating...')}}
                </ng-container>
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>
  
        <div class="common-form-row">
          <nz-form-item>
            <nz-form-label nzRequired>{{l('User Passcode')}}</nz-form-label>
            <nz-form-control>
              <input nz-input type="password" formControlName="password" [(ngModel)]="password">
              <nz-form-explain
                *ngIf="validateForm.get('password').dirty&&validateForm.get('password').hasError('required')">
                {{('Please input
                your password!')}}</nz-form-explain>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
              <nz-form-control>
                  <button nz-button (click)="onCancel()" style="margin-left:300px;margin-top: 20px;margin-bottom: 20px;margin-right: 20px;">{{l('Cancel')}}</button>
                  <button nz-button  nzType="primary" (click)="onConfirm()" [disabled]="!validateForm.valid">{{l('OK')}}</button>
              </nz-form-control>
          </nz-form-item>
        </div>
        <div class="common-form-row">
           
        </div>
      </div>
    </form>
   
  </div>