<a nz-tooltip 
class="menu-icon" 
[nzTitle]="copyBeamToolTip"
 nzPlacement="bottomLeft" 
 (click)="CopyBeamClick()"
 [class.disable] = "isDisable_addbeam">
    <img class="menu-icon-img" src="../../../../../assets/svg/icon_copy.svg" />
    <ng-template #copyBeamToolTip>
        <div class="tooltip-template">
            <p class="middle-text">{{l('Copy')}}</p>
        </div>
    </ng-template>
</a>

<nz-modal [nzVisible]="isVisible_copybeam" nzMaskClosable = "false" nzTitle="Copy Beam"  nzWidth="560px" nzWrapClassName="vertical-center-modal" (nzOnCancel)="CopybeamhandleCancel()" [nzFooter]="modalFooter" >
      <form nz-form [formGroup]="form" >
          <div class="common-form-box FlexRow">
                <div class="common-form-row">
                      <nz-row>
                            <nz-form-item>
                                  <nz-form-label nzRequired nzNoColon="true">{{l('beamName')}}</nz-form-label>
                                  <nz-form-control>
                                        <input nz-input formControlName="beamName" [class.error]="form.controls.beamName.invalid && form.controls.beamName.touched"
                                              placeholder="Please Input beamName">
                                          <span class="errAlerk" *ngIf="form.get('beamName').hasError('required')">必填项</span>
                                          <span class="errAlerk" *ngIf="form.get('beamName').hasError('maxLength')">最大长度64</span>
                                          <span class="errAlerk" *ngIf="form.get('beamName').hasError('check')">禁止输入反斜杠\</span>
                                  </nz-form-control>
                            </nz-form-item>
                      </nz-row>
                </div>
          </div>
    </form>
    <ng-template #modalFooter>
          <button nz-button nzType="default" (click)="CopybeamhandleCancel()">{{l('Cancel')}}</button>

          <button [disabled] = "form.invalid && form.dirty"  nz-button nzType="primary" (click)="CopybeamhandleOk()" >{{l('Save')}}</button>

        </ng-template>
</nz-modal>
